@tailwind base;
@tailwind components;

.h-70px {
  height: 70px;
}

.h-320px {
  height: 320px;
}

.h-full-70px {
  height: calc(100% - 70px);
}

.top-10px {
  top: 10px;
}

.top-70px {
  top: 70px;
}

.right-25px {
  right: 25px;
}

.location-map * {
  z-index: 10 !important;
}

@media (min-width: 640px) {
  .product-panel:hover {
    @apply transition duration-300 ease-in-out shadow-md;
  }

  .product-panel:hover img {
    @apply transition-all duration-300 ease-in-out w-full h-56 mt-0 rounded-none;
  }
}

@media (min-width: 768px) {
  .md\:h-150px {
    height: 150px;
  }
}

@media (min-width: 1024px) {
  .lg\:h-520px {
    height: 520px;
  }
  .lg\:h-640px {
    height: 640px;
  }
}

@tailwind utilities;
